* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: black;
}

h1, h2 {
    text-transform: uppercase;
    margin: 0 0 1em;
    text-align: center;
}

h2 {
    font-size: 1em;
    font-weight: bold;
}

p {
    margin-bottom: 1em;
    text-align: justify;
}

ul {
    margin-bottom: 1em;
}

ul li {
    margin-bottom: 0.5em;
}

.nav-link {
    display: block;
    padding: 0rem 1rem;
}

.sidebar {
    position: fixed;
    z-index: 3000;
}

.sidebar.left {
    left: 0;
    bottom: 150px;
}

.sidebar.right {
    right: 0;
    bottom: 100px;
}

.sidebar a {
    display: block;
    margin: 10px 0;
}

.sidebar .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.play-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url() 0 0 no-repeat;
    background-image: url(../img/play.svg), none; /* Modern browsers */
    background-size: auto 100%;
    vertical-align: middle;
}

.banner {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    width: 100%;
    height: 500px;
}

.banner-man {
    background-image: url(../img/man.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 431px;
    height: 494px;
    z-index: 3;
}

.banner-inner-content {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    height: 100%;
    text-align: center;
    line-height: 0.8;
}

.banner-inner-content * {
    position: relative;
    z-index: 5;
}

.banner-inner-content a.btn-secondary:not(:disabled):not(.disabled).active {
    margin-top: 30px;
    background-color: #C1C1C1;
    color: #000000;
    text-transform: uppercase;
}

.banner-logo {
    display: inline-block;
    margin: 200px 0 20px;
    width: 360px;
    height: 82px;
    position: relative;
    z-index: 5;
}

.main-text {
    display: block;
    text-align: left;
    margin: 230px 50px 0;
    line-height: 1.2;
}

.main-text h4 {
    font-size: 1em;
}

.main-text ul li {
    font-size: 0.8em;
}

.center {
    text-align: center;
}

.container {
    padding: 60px 50px 20px;
}

.page-content {
    margin: 0 auto;
    text-align: left;
    max-width: 32em;
}

.page-content p {
    margin-bottom: 10px;
}

ul {
    margin-bottom: 1em;
}

.page-content img {
    max-width: 90%;
    display: block;
    margin: 5px auto;
}

.page-content h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#page0 {
    position: relative;
    padding-top: 2em;
    min-height: 1350px;
    background-color: #DEDEDC;
}

#page1 {
    background-color: #D7FDD0;
}

#page2 {
    background-color: #FEFEA6;
}

#page3 {
    background-color: #F7CDA0;
}

#page4 {
    background-color: #CCCDFA;
}

#page5 {
    background-color: #C39CC9;
}

#page6 {
    background-color: #D6FD7D;
}

#page7 {
    background-color: #E5E5E5;
}

#page8 {
    background-color: #F19FF9;
}

#contacts {
    padding: 20px 30px;
}

#contacts p {
    margin-bottom: 0;
}

#contacts a, #contacts a:hover, #contacts a:visited {
    color: #000000;
}