* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: black;
}

h1, h2 {
    margin: 0 0 1em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 1.5em;
}

p {
    margin-bottom: 1em;
    text-align: justify;
}

ul {
    margin-bottom: 1em;
}

ul li {
    margin-bottom: 0.5em;
}

#first-nav-button {
    display: inline-block;
}

#second-nav-button {
    display: none;
}

.nav-link {
    display: block;
    padding: 0rem 1rem;
    margin: 0 auto;
}

.sidebar {
    position: fixed;
    z-index: 3000;
}

.sidebar.left {
    left: -150px;
    bottom: 30px;
}

.sidebar.right {
    right: 0;
    bottom: 30px;
    display: none;
}

.sidebar a {
    display: block;
    margin: 10px 0;
}

.sidebar .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: .375rem 1.375rem .375rem .45rem;
    position: relative;
    width: 180px;
    white-space: normal;
}

.play-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url() 0 0 no-repeat;
    background-image: url(../img/play.svg), none; /* Modern browsers */
    background-size: auto 100%;
    vertical-align: middle;
    position: absolute;
    right: 3px;
    top: 32%;
}

.banner {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    width: 100%;
    height: 500px;
}

.banner-man {
    background-image: url(../img/man.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 431px;
    height: 494px;
    z-index: 3;
    display: none;
}

.banner-inner-content {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 540px;
    text-align: center;
    line-height: 0.8;
}

.banner-inner-content * {
    position: relative;
    z-index: 5;
}

.main-content {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 0.8;
}

.banner-logo {
    display: inline-block;
    margin: 200px 0 20px;
    width: 240px;
    height: 55px;
    position: relative;
    z-index: 5;
}

.main-text {
    display: block;
    text-align: left;
    padding: 20px 50px;
    line-height: 1.2;
}

.main-text h4 {
    font-size: 1.1em;
}

.main-text ul li {
    font-size: 0.9em;
}

.center {
    text-align: center;
}

.container {
    padding: 60px 50px 20px;
}

.main-content p {
    margin-bottom: 10px;
}

ul {
    margin-bottom: 1em;
}

.main-content img {
    max-width: 90%;
    display: block;
    margin: 5px auto;
}

.main-content h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#page1 {
    position: relative;
    padding-top: 2em;
    height: auto;
    background-color: #DEDEDC;
}

#page1 h2 {
    margin: 1.5em 0;
}

#page1 .main-content {
    background-color: rgba(255, 255, 255, 0.7);
}

#page2 {
    background-color: #FEFEA6;
}

#page3 {
    background-color: #F7CDA0;
}

#page4 {
    background-color: #CCCDFA;
}

#page5 {
    background-color: #C39CC9;
}

#page6 {
    background-color: #D6FD7D;
}

#page7 {
    background-color: #E5E5E5;
}

#page8 {
    background-color: #F19FF9;
}

#contacts {
    padding: 20px 30px;
}

#contacts p {
    margin-bottom: 0;
}

#contacts a, #contacts a:hover, #contacts a:visited {
    color: #000000;
}

#contacts a.btn, #contacts a.btn:hover, #contacts a.btn:visited {
    color: #FFFFFF;
    display: none;
}

#contacts, #contacts p {
    text-align: right;
}

@media (min-width: 568px) {
    .sidebar.left {
        left: 0;
    }

    .main-content {
        padding-left: 150px;
    }

    .banner-logo {
        width: 360px;
        height: 82px;
    }
}

@media (min-width: 768px) {
    .banner-inner-content {
        left: 20%;
        width: 60%;
    }

    .main-content  {
        left: 20%;
        width: 60%;
        padding-left: 0;
    }

    .sidebar.left {
        bottom: 50px;
    }

    .sidebar.right {
        display: block;
    }

    #contacts, #contacts p {
        text-align: center;
    }
}

@media (min-width: 992px) {
    .nav-link {
        margin: 0;
    }

    .sidebar.left {
        bottom: 80px;
    }

    .sidebar.right {
        bottom: 70px;
    }

    .banner-man {
        display: block;
    }

    #contacts a.btn {
        display: inline-block;
    }

    #first-nav-button {
        display: none;
    }

    #second-nav-button {
        display: inline-block;
    }
}

@media (min-width: 1200px) {
    .sidebar .btn {
        width: auto;
        white-space: nowrap;
    }
}